/* Styles for the custom themed scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #00f3ff;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
